<!DOCTYPE html>
<html lang="en">
<head>

  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <script>
      window._trackJs = { token: '<%= htmlWebpackPlugin.options.trackJSToken %>' };
    </script>
    <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
    <% } %>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta charset="utf-8" />
      <title>Cat API Axios Example</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
</head>

<body>
  <div id="app"></div>
</body>

</html>